<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>

<body>
    <h1>Umfrage konfigurieren</h1>
    <p th:text="${secretId}"></p>
    <form th:action="@{/endSurvey?secretId=3}"
          method="post">
    <input type="submit" class="btn btn-outline-primary btn-block" value="Umfrage beenden">
    </form>
        <form th:action="@{/getStatistics(secretId=${secretId})}"
              method="get">
    <input type="submit" class="btn btn-outline-primary btn-block" value="Statistik ansehen">
</form>
</body>
</html>