<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>

<body>
    <h1>Umfrage konfigurieren</h1>
    <label>Secret ID:</label>
    <label th:text="${secretId}"></label>
    <label>Umfragen URL:</label>
    <a th:href="'localhost:54000/survey?surveyId='+${surveyId}">Link zur Umfrage</a>
    <form th:action="@{/endSurvey?surveyId=__${surveyId}__}"
          method="post">
    <input type="submit" class="btn btn-outline-primary btn-block" value="Umfrage beenden">
    </form>
        <form th:action="@{/getStatistics?surveyId=__${surveyId}__}"
              method="get">
    <input type="submit" class="btn btn-outline-primary btn-block" value="Statistik ansehen">
</form>
</body>
</html>