<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <meta charset="utf-8">
</head>
<body>
<div class="container">
    <br>
    <header>
        <h1 class="text-center">Umfrage konfigurieren</h1>
    </header>
</div>
<br>
<div class="container">
    <form style="text-align: center;" th:action="@{/setTitle}" method="post">
        <label>Titel:</label>
        <input class="form-control" type="text" name="title" minlength="1" th:value="${title}" maxlength="255">
        <br>
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Titel setzen">
    </form>
</div>
<br>
<div class="container" style="text-align: center">
    <form th:action="@{/addQuestion}" method="post">
        <p>
            <label for="questionLabel">Frage:</label>
            <input class="form-control" type="text" id="questionLabel" name="question">
        </p>

        <p>
            <label>Antworttyp:</label>
            <input type="radio" th:value="TextOption" th:id="TextOption" th:name="option" checked/>
            <label th:for="TextOption">Freitext</label>
            <input type="radio" th:value="RadioOption" th:id="RadioOption" th:name="option"/>
            <label th:for="RadioOption">Eine mögliche Antwort</label>
            <input type="radio" th:value="CheckBoxOption" th:id="CheckBoxOption" th:name="option"/>
            <label th:for="CheckBoxOption">Mehrere mögliche Antworten</label>
        </p>

        <p>
            <label for="valuesLabel">Antwortmöglichkeiten (getrennt durch ';'):</label>
            <input class="form-control" type="text" id="valuesLabel" name="values">
        </p>

        <input type="submit" class="btn btn-outline-primary btn-sm" value="Frage hinzufügen">
    </form>
</div>
<br>
<div class="container" style="text-align: center">
    <table class="table table-hover table-bordered table-fixed">
        <thead>
        <tr>
            <th>Frage</th>
            <th>Fragentyp</th>
            <th>Antwortmöglichkeiten</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="question : ${questions}">
            <td><span th:text="${question.question}"> Frage </span></td>
            <td><span th:text="${typeHelper.getTypeName(question)}"> Frage </span></td>
            <td th:if="${typeHelper.getTypeName(question).equals('TextOption')}">
                <span> Freitext </span>
            </td>
            <td th:if="${typeHelper.getTypeName(question).equals('RadioOption')}">
                <ul th:each="option : ${typeHelper.asRadioOption(question).getRadioOptions()}">
                    <li th:text="${option}"></li>
                </ul>
            </td>
            <td th:if="${typeHelper.getTypeName(question).equals('CheckBoxOption')}">
                <ul th:each="option : ${typeHelper.asCheckBoxOption(question).getCheckBoxOptions()}">
                    <li th:text="${option}"></li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <form style="text-align: center;" th:action="@{/addSurvey}" method="post">
        <input type="submit" class="btn btn-outline-primary btn-sm" value="Umfrage erstellen">
    </form>
</div>
</body>
</html>